/**
 * Site header
 */


.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */


.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  // margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

// section changes

div {
  &.navbar-fixed {
    display:none;
  }
  &.translucent {
    display: block;
  }
}

nav {
  display: none;
  transition: display 0.4s ease;
  background-color: black;
  box-shadow: 0 0 0 0;
  &.translucent {
    display: block;
    opacity: 0.5;
  }
  div {
    &.nav-wrapper {
      a {
        &.brand-logo {
          img {
            height: 40px;
          }
        }
      }
      ul {
        li {
          a {
            &.nav-links {
                color: #D99A01;
                text-transform: uppercase;
                letter-spacing: 1.3px;
                font-family: 'Lato', sans-serif;
                &:hover {
                  text-decoration: none;
                }
            }
          }
        }
      }
    }
  }

}


main {
  h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.1px;
    color: #D99A01;
  }
  p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 1.1px;
  }
  a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

  }

}

//dropdown in nav

ul {
  #dropdown1 {
    li {
      a {
        color:#66023E;
        word-wrap:break-word;
      }
    }
  }
}

#about {
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  img {
    border-radius: 100px;
    border: 2px solid #D99A01;
  }
    h1 {
    text-align: center;
    }
    div {
      &#description {
        padding: 15px;
        border: 1px solid white;
        border-radius: 10px;
        text-align: justify;

    }
  }
  div {
    &#tech {
      color: #D99A01;
      font-size: 50px;
      display: inline-block;
      float: left;
      text-align: center;
      margin-left: 25%;
      border: 1px solid #D99A01;
      border-radius: 10px;
      div {
        &.tech-row {
          text-align: center;
          margin: 0 auto;
        }
      }
      div {
        &.tech {
          &:hover {
            animation: grow 2s ease;
          }
        }
      }

      }
      div {
        &.icon-name {
          display: inline;
          p {
            color: #66023E;
            font-weight: bold;
          }

        }
        div {
          &.icon {
            display: inline;
          }
        }
      }

    }
  }

@keyframes grow {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}


#home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://i.imgur.com/CNI5ms7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  div {
    &.mainTitle {
      position:absolute;
      text-align: center;
      text-transform: uppercase;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1, h2 {
        color: white;
        letter-spacing: 1.3px;
      }
    }
  }
  div {
    &.nextSection {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        i {
          &.downArrow {
            color: #D99A01;
            &:hover {
              animation: pulsate 1s ease-out;
              animation-iteration-count: infinite;
            }

          }
        }
      }
    }
  }

}


#contact {
  height: 100vh;
  background-color: #f7f2f2;
  padding-top: 60px;
  text-align: center;
  div {
    &.container {
      div {
        &.contact-details {
          div {
            &.contact-box {
              padding-top: 30px;
              border: 1px solid red;
            }
          }
        }
      }
    }
  }

}

//parallax style

div {
  &.mainPage {
    section {
      &#projects {
        ul {
          margin-left: 0;

        }
      }
    }
  }
}

body {
  background-color: black;
}

article {
  &.project {
    text-align: center;
  }
}


#state {
  margin:auto;
  display:block;
  height:100px;
  position:relative;
}


//contact section


div {
  &.gps_ring {
      border: 2px solid #66023E;
      -webkit-border-radius: 50%;
      height: 18px;
      width: 18px;
      display:inline;
      position: absolute;
      left: 340px;
      top: 10px;
      -webkit-animation: pulsate 1s ease-out;
      -webkit-animation-iteration-count: infinite;
      opacity: 0.0;

  }
}



.gps_ring:before {
    content:"";
    display:inline;
    border: 2px solid #66023E;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    left:-8px;
    top:-8px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.1s;
    opacity: 0.0;
}
.gps_ring:after {
    content:"";
    display:inline;
    border:2px solid #66023E;
    -webkit-border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left:-18px;
    top:-18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.2s;
    opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
