---
layout: default
---

<div class="mainPage">


  <section id="home">
    <h1>all about me bit</h1>
    <div class="nextSection">
      <a href="#about" class="pulse"><i class="large material-icons downArrow">arrow_downward</i></a>
    </div>

  </section>
  <section id="about">
    <h1>About section</h1>
  </section>
  <section id="projects">
    <ul>
      {% for project in site.projects %}
      <li>
        <div class="parallax-container">
          <div class="parallax"><img src="{{ project.image }}" alt=""></div>
        </div>
        <div class="section">
          <div class="row container">
            <h2 class="header">{{ project.title }}</h2>
            <h5>{{ project.subtitle }}</h5>
            <p>{{ project.excerpt }}<a href="{{ project.url | prepend: site.baseurl }}">Read more...</a></p>

          </div>
        </div>


      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="contact">
    <h4>My contact information</h4>

  </section>

</div>
