---
layout: default
---
  {% include header.html %}

<div class="mainPage">


  <section id="home">
    <div class="mainTitle">
      <h1 class="animated fadeInRight">Hi!</h1>
      <h3 class="animated fadeInLeft">I'm Angela Maugey</h3>
      <h4 class="animated fadeInRight">Junior Full Stack Developer</h4>
    </div>
    <div class="nextSection">
      <a href="#about"><i class="large material-icons animated fadeInDown" id="arrowDown">arrow_downward</i></a>
    </div>

  </section>
  <section id="about">
    <div class="row">
      <div class="col s6 offset-s3">
        <img class"headshot" src="http://i.imgur.com/IQFVpMa.jpg">
      </div>
      <div class="col s6 offset-s3">
        <h1>About Me</h1>
      </div>

      <div class="col s6 offset-s3" id="description">
        <p>I’ve always been interested in computers but found myself in a career as a chef for eight years, before taking the decision to become a web developer. My interest started as a hobby, as I’m from a household where others use coding. I found that my interest was slowly taking over my spare time and after doing an online course. I worked hard to teach myself and was able to get a scholarship from General Assembly to join their Web Development Immersive course and got the coding bug! I've realised that the skills I've gained from previous employment have been transferrable to web development and I'm ready to get stuck into a role as a junior dev.</p>
      </div>
    </div>
    <div class="row tech-row">
      <div class="col s6 offset-s3" id="tech">
        <h3>Tech Used</h3>
        <div class="tech col s4">
          <div class="iconRed icon">
            <i class="icon-html5"></i>
          </div>
          <div class="icon-name">
            <p>HTLM5</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="iconOrange icon">
            <i class="icon-css3"></i>
          </div>
          <div class="icon-name">
            <p>CSS3</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="iconYellow icon">
            <i class="icon-sass"></i>
          </div>
          <div class="icon-name">
            <p>SASS/SCSS</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="iconGreen icon">
            <i class="icon-javascript"></i>
          </div>
          <div class="icon-name">
            <p>JavaScript</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class=" iconBlue icon">
            <i class="icon-jquery"></i>
          </div>
          <div class="icon-name">
            <p>jQuery</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconIndigo">
            <i class="icon-nodejs"></i>
          </div>
          <div class="icon-name">
            <p>Node.js</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconViolet">
            <i class="icon-mongodb"></i>
          </div>
          <div class="icon-name">
            <p>Mongodb</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconRed">
            <i class="icon-postgres"></i>
          </div>
          <div class="icon-name">
            <p>PostgresQL</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconOrange">
            <i class="icon-gulp"></i>
          </div>
          <div class="icon-name">
            <p>Gulp</p>
          </div>
        </div>

        <div class="tech col s4">
          <div class="icon iconYellow">
            <i class="icon-ruby"></i>
          </div>
          <div class="icon-name">
            <p>Ruby</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconGreen">
            <i class="icon-angular"></i>
          </div>
          <div class="icon-name">
            <p>AngularJS</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconBlue">
            <i class="icon-ruby-on-rails"></i>
          </div>
          <div class="icon-name">
            <p>Ruby on Rails</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconIndigo">
            <i class="icon-npm"></i>
          </div>
          <div class="icon-name">
            <p>NPM</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconViolet">
            <i class="icon-bootstrap"></i>
          </div>
          <div class="icon-name">
            <p>Bootstrap</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconRed">
            <i class="icon-aws"></i>
          </div>
          <div class="icon-name">
            <p>AWS</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconOrange">
            <i class="icon-heroku"></i>
          </div>
          <div class="icon-name">
            <p>Heroku</p>
          </div>
        </div>
        <div class="tech col s4">
          <div class="icon iconYellow">
            <i class="icon-git"></i>
          </div>
          <div class="icon-name">
            <p>GitHub</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="projects">
    <ul>
      {% for project in site.projects %}
      <li>
        <div class="parallax-container">
          <div class="parallax"><img src="{{ project.image }}" alt=""></div>
        </div>
        <div class="section">
          <div class="row container">
            <h4 class="header">{{ project.title }}</h4>
            <h5>{{ project.subtitle }}</h5>
            <p>{{ project.excerpt }}</p>
            <div class="buttons">

              <a class="btn" id="read-btn" href="{{ project.url | prepend: site.baseurl }}"><i class="material-icons left">add</i>Read more</a>
              <a class="btn" id="code-btn" href="{{ project.github }}" target="blank"><i class="material-icons left">code</i>See the code</a>
              <a class="btn" id="heroku-btn" href="{{ project.heroku }}" target="blank"><i class="material-icons left">desktop_mac</i>Launch the app</a>
            </div>

          </div>
        </div>


      </li>
      {% endfor %}
    </ul>
  </section>
  <section id="contact">
    <div class="container">
      <div class="contact-details">
        <div class="contact-header">
          <h3>Contact me</h3>
        </div>
        <div class="contact-box">
          <div id="state" class="grid_4 alpha">

            <div class="gps_ring"></div>
            <div class="email-link">
              <a id="email" href="mailto:info@angelamaugey.com?Subject=Hello!">Email me</a>
            </div>
          </div>
          <div class="contact-linkBox">
            <div class="contact-links">
              <a class="linkedIn" href="https://www.linkedin.com/in/angela-maugey/" target="blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
            </div>
            <div class="contact-links">
              <a class="twitter-follow-button" data-show-count="false" href="hhtps://twitter.com/intent/tweet?screen_name=AngelaMogli" data-size="large">Tweet to @AngelaMogli</a>
            </div>
            <div class="contact-links">
              <a class="github" href="https://github.com/maugeya" target="blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
            </div>
          </div>

        </div>



      </div>

    </div>

  </section>


</div>
